*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(121, 120, 118);
    color: black;
    text-align: center;
    padding: 50px 0;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.9B1LSs7fjoa-uSugFpJ3zAHaEK&pid=Api&P=0&h=220);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header img{
    height: 80px;
    border-radius: 10px;
    
}
nav{
    background-color: rgb(121, 123, 123);
    padding: 20px 0px;
}
.container{
    text-align: center;
}
.nav-list{
    margin-right: 20px;
    text-align: center;
}
.nav-list a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 10px;
    border-radius:10px ;
    transition: 0.2s ease;
}
.nav-list a:hover{
    background-color: white;
    border: 2px solid rgb(121, 123, 123);
    color: rgb(121, 123, 123);
}
main{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-text{
    padding: 20px 0;
    font-size: 24px;
}
.popular-item{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    max-width: 1190px;
    margin: 0 auto;
}
.products{
    border: 2px solid rgb(121, 123, 123);
    margin: 10px 10px;
    box-shadow: 0.1em 0.1em 0.1em rgb(70, 70, 70);
    border-radius: 10px;
}
.products img{
    width: 100%;
    background-color: aqua;
    border-radius: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
